
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
      <div class="container">
      <div class="row">
        
              <form [formGroup]="registerationForm" (ngSubmit)="onSubmit()">
                <h1>Registration Form</h1>
                  <div class="form-group">
                      <label>First Name</label>
                      <br>
                      <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                          <div *ngIf="f.firstName.errors.required">First Name is required</div>
                      </div>
                  </div>
                  <br>
                  <div class="form-group">
                      <label>Last Name</label>
                       <br>
                      <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                      </div>
                  </div>
                  <br>
                  <div class="form-group">
                      <label>Email</label>
                      <br>
                      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.email">Email must be  valid</div>
                      </div>
                  </div>
                  <br>
                  <div class="form-group">
                    <label>Phone-number</label>
                    <br>
                    <input type="number" formControlName="phone_number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone_number.errors }" />
                    <div *ngIf="submitted && f.phone_number errors" class="invalid-feedback">
                        <div *ngIf="f.phone_number"> phone number length must have 10 numbers</div>
                        </div>
                      </div>
                      
                        <div class="form-group">
                          <label><h4>Address</h4></label>
                        
                          <label>addLine1</label>
                          <br>
                          <input type="text" formControlName="line1" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.addline1.errors }" />
                            <div *ngIf="submitted && f.line1 errors" class="invalid-feedback">
                            </div>
                            <br>
                            <br>
                            <label>addLine2</label>
                            <br>
                            <input type="text" formControlName="line2" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.addline2.errors }" />
                            <div *ngIf="submitted && f.line2 errors" class="invalid-feedback">
                              </div>
                              <br>
                              <br>
                              <label>District</label>
                            <br>
                            <input type="text" formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.district.errors }" />
                            <div *ngIf="submitted && f.state errors" class="invalid-feedback">
                              </div>
                              <br>
                              <br>
                            <label>state</label>
                            <br>
                            <input type="text" formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }" />
                            <div *ngIf="submitted && f.state errors" class="invalid-feedback">
                              </div>
                              <br>
                              <br>
                            <label>Pincode</label>
                            <br>
                            <input type="number" formControlName="pincode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }" />
                            <div *ngIf="submitted && f.pincode errors" class="invalid-feedback">
                                <div *ngIf="f.pincode.errors.length">Pincode must have 6 numbers</div>
                              </div>
                              <br>
                              <br>
                  <div class="form-group">
                      <button [disabled]="loading" class="btn btn-primary">Register</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>